* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

a:hover {
  text-decoration: none;
}

.box {
  height: 40px;
  width: 40px;
}

.main {
  height: calc(100vh - 120px);
  overflow: hidden;
}

.list {
  height: calc(100vh - 280px);
  overflow-y: scroll;
}

.custom-radius {
  border-radius: 20px !important;
}

/* body {
  background: url("img/bg.png") no-repeat center;
  background-size: cover;
  height: 100vh;
} */

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #006693;
}

/* ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #006693;
  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4) 50%,
    transparent,
    transparent
  );
} */

body {
  background-color: #f4f4f4;
  height: 100vh;
}

.bg-custom-light-blue {
  background-color: #0f87bd !important;
}

.bg-custom-slate-blue {
  background-color: #006693 !important;
}

.bg-custom-dark-blue {
  background-color: #004f79 !important;
}

.bg-custom-blue {
  background-color: #006fa0 !important;
}

.bg-custom-paper {
  background-color: #f4f4f4 !important;
}

.bg-custom-pale-gold {
  background-color: #dacba0 !important;
}

.bg-custom-dim-gold {
  background-color: #c7b98c !important;
}

.bg-custom-charcoal {
  background-color: #373737 !important;
}

.bg-custom-silk {
  background-color: #dcd0c0 !important;
}
